{% extends "mainapp/base.html" %}

{% block content %}
	<style type="text/css">
		#map-canvas { 
			min-height: 460px; 
			margin: 0; 
			padding: 0;
		}
	</style>

	<div id="headerwrap" style="padding-top:0px;min-height:50px;">
	    <div id="map-canvas"></div>
	</div><!-- /headerwrap -->

	<div class="container mtb">
	</div><! --/container -->

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
	    function initialize() {
	        var mapOptions = {
	          center: { lat: 27.7, lng: 85.33333330000005},
	          zoom: 8
	        };
	        
	        var map = new google.maps.Map(document.getElementById('map-canvas'),
	            mapOptions);
	      }
	      google.maps.event.addDomListener(window, 'load', initialize);
	</script>
{% endblock %}
