{% extends "mainapp/base.html" %}

{% block content %}	
	<div class="container mtb" style="">
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<div class="row">
					<h2>Enter your details</h2>
				</div>
				<div class="row">
					<form role="form" action="{% url 'login' %}" method="POST">
						{% csrf_token %}
						<div class="form-group">
						    <label for="InputName1">Username</label>
						    <input type="text" name="username" class="form-control">
						</div>
						<div class="form-group">
						    <label for="InputEmail1">Password</label>
						    <input type="password" name="password" class="form-control">
						</div>
					  	<button type="submit" class="btn btn-theme">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div><! --/container -->
{% endblock %}